* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

body h3 {
  font-size: 1.8125rem;
  font-weight: 600;
  line-height: 1.2;
}

body h2 {
  font-size: 2.3125rem;
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

/* Nav */
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  padding: 20px 0;
  font-size: 13px;
}

.main-nav .logo {
  width: 108px;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 8px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}
.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-radius: 0.125rem;
  font-weight: bold;
  padding: 10px 20px;
  background: #0067b8;
  color: #fff;
  font-size: 15px;
}

.btn:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.13), 0 0 0.0625rem 0 rgba(0, 0, 0, 0.11);
}

/* Showcase */
.showcase {
  width: 100%;
  height: 400px;
  background: url('./img/showcase.jpg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 48px;
}

.showcase h2,
.showcase p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 18px;
}

/* Home cards */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 48px 0 96px 0;
}

.home-cards img {
  width: 100%;
  margin-bottom: 16px;
}

.home-cards h3 {
  margin-bottom: 16px;
}

.home-cards a {
  display: inline-block;
  padding-top: 16px;
  color: #0067b8;
  font-weight: 600;
}

.home-cards a i {
  margin-left: 2px;
  transition: margin-left 0.5s;
}

.home-cards a:hover i {
  margin-left: 7px;
  transition: margin-left 0.3s;
}

/* Xbox */
.xbox {
  height: 600px;
  width: 100%;
  background: url('img/Xbox\ Series.avif') no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  margin: 48px 0;
}

.xbox .content {
  max-width: 600px;
  padding: 48px;
  margin: 0 80px;
  align-self: center;
}

.xbox h2,
.second-slider h2 {
  margin-bottom: 20px;
}

.xbox p,
.second-slider p {
  margin-bottom: 24px;
}

/* Home cards 2 */
.home-cards-margin {
  margin-top: 20px;
}

.home-cards-2 {
  margin: 96px 0;
}

/* Second slider */
.second-slider {
  display: flex;
  width: 100%;
  height: 600px;
  background: url('img/Highlight-Microsoft-AI-Anthology-VP4-1260x600.avif') no-repeat center center/cover;
  justify-content: end;
}

.second-slider .content {
  width: 600px;
  height: fit-content;
  background: #fff;
  padding: 48px;
  box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0, 0, 0, 0.13), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.11);
  align-self: center;
  margin-right: 79.5px;
}

/* Follow */
.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 48px 0;
  padding: 0 12px;
}

.follow * {
  margin-right: 12px;
}

.follow p {
  margin-right: 16px;
}

/* Links */
.links {
  background: #f2f2f2;
  color: #616161;
  font-size: 11px;
  font-weight: 400;
  padding-top: 36px;
}

.links a {
  color: #616161;
}

.links-inner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
}

.links li {
  line-height: 16px;
  padding: 8px 0;
}

.links li:nth-of-type(1) {
  padding: 0 0 4px 0;
}

.links h4 {
  font-size: 15px;
  font-weight: 600;
}
